<%= render 'public/shared/error_messages', resource: target %>
<%= form_with model: target, local: true do |f| %>
<div class='form-group row'>
  <%= f.label :goal, class:'col-3 col-form-label' %>
  <div class='col'><%= f.text_field :goal, class:'form-control', placeholder:'例:参考書を1冊終わらせる!!', required: true %></div>
</div>
<div class='form-group row'>
  <%= f.label :reason, class:'col-3 col-form-label' %>
  <div class='col'><%= f.text_area :reason, class:'form-control', placeholder:'意味込みを書いてね', required: true %></div>
</div>
<div class='form-group row'>
  <%= f.label :num_tgt, class:'col-3 col-form-label' %>
  <div class='col-3'>
    <%= f.text_field :num_tgt, class:'form-control text-right', placeholder:'目標を数値化してみよう!!', required: true %>
  </div>
  <div class='col'>
    <%= f.collection_select :category_id, Category.all, :id, :name, {prompt: true}, class:'form-control', required: true %>
  </div>
</div>
<div class='form-group row'>
  <%= f.label :deadline, class:'col-3 col-form-label' %>
  <div class='col'><%= f.date_field :deadline, class:'form-control', min: Date.current , required: true %></div>
</div>
<div class='form-group'>
  <div class='row'>
    <%= f.label :public_status, class:'col-3 col-form-label' %>
    <div class='col'>
      <div class='form-check'>
        <%= f.radio_button :public_status, 'true', class:'form-check-input' %>
        <%= f.label '公開', class:'form-check-label' %>
      </div>
      <div class='form-check'>
        <%= f.radio_button :public_status, 'false', class:'form-check-input' %>
        <%= f.label '非公開', class:'form-check-label' %>
      </div>
    </div>
  </div>
</div>
<div class='form-group row mr-3 flex-row-reverse'>
  <%= f.submit class:'btn btn-info' %>
</div>
<% end %>

<%# バリデーションエラー時にURLが変わってしまう為の対策 %>
<% if target.errors.any? %>
  <script type="text/javascript">
    $(document).ready(function() {
      var link = location.href;
      if((link.substring(link.length - 7)) == "targets"){
        var path = 'new'
      } else {
        var path = 'edit'
      }
      history.pushState('', '', location.href + '/' + path)
    });
  </script>
<% end %>
