<% targets.each do |target| %>
<div class='my-5'>
  <%= link_to target_path(target), class:'text-dark text-decoration-none' do %>
  <div class="container rounded border shadow">
    <div class="row">
      <% if target.completion_status %>
        <div class="col-2 mx-4 py-1 px-0 h5 text-center text-white bg-success rounded-bottom rounded-3">
          <strong>達成済</strong>
      <% else %>
        <div class="col-2 mx-4 py-1 px-0 h5 text-center bg-warning rounded-bottom rounded-3">
          <strong>挑戦中!!</strong>
      <% end %>
        </div>
        <div class="col text-right text-black-50 small">
          <%= target.created_at.strftime('%Y/%m/%d') %> - <%= target.deadline.strftime('%Y/%m/%d') %>
        </div>
      </div>
      <div class="row">
        <div class="col-3 my-auto border-right border-4">
          <div class="row d-flex justify-content-center align-items-end">
            あと<span class='h2 my-0'>
              <%= (target.deadline - target.created_at.to_date).to_i %>
            </span>日!!
          </div>
          <div class="row d-flex justify-content-center align-items-end">
            現在<span class='h2 my-0'><%= target.tasks.sum(:time) %></span>時間
          </div>
        </div>
        <div class="col">
          <div class="row px-3 my-0 h2"><%= target.goal %></div>
          <div class="row px-3 my-0 h5 text-black-50"><%= target.reason %></div>
        </div>
      </div>
      <div class="row mb-1 d-flex flex-row-reverse">
        <div class="col-2 text-right">
          <span class="badge badge-pill badge-info"><%= target.category.name %></span>
        </div>
        <div class="col-2 text-right px-0">公開中</div>
      </div>
    </div>
  </div>
  <% end %>
<% end %>
