<div class='container'>
  目標登録画面
  new
  <%= bootstrap_form_with model:@target, local: true do |f| %>
    <%= f.text_field :goal %>
    <%= f.text_area :reason %>
    <%= f.collection_select :category_id, Category.all, :id, :name, {prompt: true} %>
    <%= f.date_field :deadline %>
    <%= f.radio_button :public_status, 'true' %>
    <%= f.radio_button :public_status, 'false' %>
    <%= f.submit %>
  <% end %>
</div>
