<% content_for(:title, 'アカウント編集') %>
<div class='container my-5'>
  <div class='container text-right'>
    <p>
      <%= link_to '戻る', mypage_path, class:'btn btn-info'%>
    </p>
  </div>
  <h2 class='ml-5'><%= current_user.name %>さんの情報</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render 'public/shared/error_messages', resource: resource %>

    <% if current_user.uid.nil? %>
      <div class='form-group'>
        <%= f.label :email, class:'col col-form-label' %><br />
        <div class='col'>
          <%= f.email_field :email, autofocus: true, autocomplete: 'email', class:'form-control' %>
        </div>
      </div>
    <% end %>

    <div class='form-group'>
      <%= f.label :name, class:'col col-form-label' %><br />
      <div class='col'>
        <%= f.text_field :name, autofocus: true, autocomplete: 'name', class:'form-control' %>
      </div>
    </div>

    <div class='form-group'>
    <%= f.label :image, class:'col col-form-label' %><br />
      <div class='col'>
        <%= f.attachment_field :image, class:'form-control-file' %>
      </div>
    </div>

    <% if current_user.uid.nil? %>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class='form-group'>
        <div class='col'>
          <%= f.label :password %> <small><i>(変更しない場合は空欄のままにしてください)</i></small><br />
        </div>
        <div class='col'>
          <%= f.password_field :password, autocomplete: 'new-password', class:'form-control' %>
          <% if @minimum_password_length %>
            <small class='form-text text-muted'><%= @minimum_password_length %> 文字以上</small>
          <% end %>
        </div>
      </div>

      <div class='form-group'>
        <%= f.label :password_confirmation, class:'col col-form-label' %><br />
        <div class='col'>
          <%= f.password_field :password_confirmation, autocomplete: 'new-password', class:'form-control' %>
        </div>
      </div>
    <% end %>

    <div class='form-group'>
      <div class='col'>
        <%= f.submit class:'btn btn-info' %>
      </div>
    </div>
  <% end %>

  <h3 class='ml-5'>アカウントの退会</h3>
  <div class='container py-2 text-center'>
    <p>退会は <%= link_to 'こちら', unsubscribe_users_path %></p>
  </div>
</div>
