<div class='container'>
  <div class='row py-4 my-5 bd-mypage rounded'>
		<div class='col-4 text-right'>
      <%= attachment_image_tag @user, :image, :fill, 100, 100, format: 'png', fallback:'profile_icon.png', size:'100x100', class:'rounded-circle' %>
    </div>
		<div class='col'>
      <div class='row'>
        <div class='col'>
          <strong class=' display-4'><%= current_user.name %></strong>
          <%= link_to unlock_lists_path do%>
            <i class='btn btn-outline-warning fas fa-trophy iconcolor ml-2'> <%= current_user.unlock_lists.count %></i>
          <% end %>
        </div>
      </div>
      <div class='row text-black-50 ml-2'>
        挑戦中:<%= @challenge_targets %> / 達成済み:<%= @completed_targets %>
      </div>
    </div>
		<div class='col-1 d-flex align-items-end flex-column'>
      <%= link_to '', edit_user_registration_path, class:'btn btn-secondary fas fa-cog mr-3'%>
    </div>
	</div>
  <div class='d-flex align-items-center'>
    <div class='col h3 m-0'>
      私の目標一覧
      <%= link_to '目標を立てる', new_target_path, class:'h4 p-2 mx-3 fas fa-plus-circle btn btn-info text-decoration-none' %>
    </div>
  </div>
  <ul class="nav nav-tabs justify-content-end">
    <li class="nav-item">
      <a class="nav-link active" href="#">全て</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">挑戦中</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">達成済み</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">いいね</a>
    </li>
  </ul>
  <%= render 'public/targets/index', targets: @targets %>
</div>
