<!DOCTYPE html>
<html>
  <head>
    <title>Ders</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <% if current_user %>
      <p>ユーザでログイン中</p>
    <% end %>
    <% if current_admin %>
      <p>管理者でログイン中</p>
    <% end %>
    <p><%= flash[:notice] %></p>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
