<!DOCTYPE html>
<html>
  <head>
    <title><%# ページタイトルが設定されていない箇所は'Ders'のみ表示 %>
      <% if content_for?(:title) %>
        <%= yield(:title) + ' | Ders' %>
      <% else %>
        Ders
      <% end %>
    </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%# 500px以下だとレイアウトが崩れる %>
    <meta name="viewport" content="width=530, initial-scale=1">
  </head>

  <body>
    <% if current_user %>
      <%= render 'layouts/header_user' %>
    <% end %>
    <p><%= flash[:notice] %></p>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
