<!DOCTYPE html>
<html>
  <head>
    <title><%# ページタイトルが設定されていない箇所は'Ders'のみ表示 %>
      <% if content_for?(:title) %>
        <%= yield(:title) + ' | Ders' %>
      <% else %>
        Ders
      <% end %>
    </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <div id="wrap">
    <% if current_user %>
      <%= render 'layouts/header_user' %>
    <% end %>
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
    <%= yield %>
    <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
